<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tuberculosis Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Tuberculosis Detection</h1>
        <div class="upload-box">
            <input type="file" id="imageUpload" accept="image/*" />
            <button onclick="uploadImage()">Predict</button>
        </div>
        <div id="preview"></div>
        <div id="result-box"></div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>